{% for item in vhost_oleg_com.values() %}
server {
    listen  {{ item.listen }};
    server_name {{ item.server_name }};
    location / {
        root  {{ item.root }};
        index  index.html index.htm;
    }
    error_page  500 502 503 504  /50x.html;
    location = /50x.html {
        root  /usr/share/nginx/html;
    }
    access_log {{ item.access_log }};
    error_log {{ item.error_log }};
}
{% endfor %}